
/* Desktop */


    .videoComparison_container{
        max-width: 100vw;
       
        padding: 6vw;
        background-color:var(--secondary-color) ;
        z-index: 8;
        
    }
    .videoComparison_main_text_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .videoComparison_main_text_one{
        width: 90%;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 1.9vw;
        line-height:2.4vw;
        letter-spacing: 0.01vw;
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
   
    }
    .videoComparison_main_text_two{
        width: 100%;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 1.9vw;
        line-height:2.4vw;
        letter-spacing: 0.01vw;
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vw;
    }
    .videoComparison_videos_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 6vw;
    }
    .videoComparison_video_one_container,.videoComparison_video_two_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .videoComparison_title_one, .videoComparison_title_two {
        width: 100%;
        color: var(--tertiary-color);
        font-weight: 500;
        font-size: 0.8vw;
        font-family: "Inter", sans-serif;
        padding-bottom: 1vw;
        
    }
    .videoComparison_video_one, .videoComparison_video_two{
        width: 100%;
        height: auto;
    
        border-radius: 10px;
        overflow: hidden;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70.64%; /* 16:9 Aspect Ratio (9/16 * 100) */
        position: relative;

        
    }

    .videoComparison_video_iframe{
       
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%); /* Center the video */
        width: 128%; /* 100% * (16/9) aspect ratio to zoom in and crop sides */
        height: 100%;
        border: none;

    }
    .videoComparison_videos_spacing{
        width: 6vw;
    }
    .videoComparison_video_one{
     
        border: 3px solid var(--tertiary-color);
        background-color: #FFFFFF;

      
    }
    .videoComparison_video_two{
        border: 4px solid var(--primary-color);
        background-color: #0166ff;

      
    }
    .videoComparison_vs{
      display: none;
    }
    div.css-6mrf8j.css-1sg2lsz {
        padding-left: 12vw !important;
        padding-right: 12vw !important;
    }


@media ( width <= 500px ){
   
    .videoComparison_container{
       margin-top: 70vw;
              
       padding: 3vw;
    }
    .videoComparison_main_text_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .videoComparison_main_text_one, .videoComparison_main_text_two {
        font-size: 4.9vw;
        line-height:6vw;
        text-align: left;
    }
    .videoComparison_main_text_two {
        margin-top: 4vw;
    }
    .videoComparison_title_one, .videoComparison_title_two {
        font-size: 4vw;
    }
    .videoComparison_videos_container{
        flex-direction: column-reverse;
    }
    .videoComparison_vs{
        display: block;
        width: 100% ;
        text-align: center;
        margin:4vw 0 4vw 0 ;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 4vw;
        line-height:2vw;
    }
}
