.blog_main_container{
    position: relative;
    display: flex;
    max-width: 100%;
    height: calc(100vh - 20vh);
    background-color: var(--black-color);
    color: var(--primary-color);
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    text-transform: lowercase;
    text-align: justify;
    padding-left: 6vw;
    padding-right: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*   navigation styles   */
.blog_navigation{
    position: relative;
    left: 0;
    top: 0;
    width: 30%;
    height: 80%;
    background-color: var(--black-color);
    border-right: 10px solid rgb(56, 56, 56);
    padding-right: 1rem;
    padding-left: 1rem;
    
}
.blog_navigation_ui{
    list-style: none;
    padding: 0;
}
.blog_navigation_li{
 margin-bottom: 10px;
}


/*   content styles   */
.blog_content_main_container{
    position: relative;
    right: 0;
    top: 0;
  width: 70%;
    height: 80%;
    overflow-y: scroll;
    background-color: var(--black-color);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 10px;


}
.blog_image_container{
  
    float: left; 
    margin-right: 50px;
    margin-bottom: 10px;
    text-align: center; 
}
.blog_image_medium {
    width: 600px;
}
.blog_link{
   color: var(--tertiary-color);
}

/*   glow line effect styles   */
.glowBorder {
position: absolute;
top: 0;
right: 0;
width: 8px; 
height: 100%;
border-radius: 5vw;


background: linear-gradient(
    180deg,
    #00ff1e,
    rgba(4, 105, 46, 0.716),
    rgb(0, 255, 98)
);
box-shadow: 0 0 10px rgba(7, 208, 215, 0.7), 0 0 20px rgba(48, 193, 77, 0.825);
animation: glowEffect 2s infinite alternate;
} 
@keyframes glowEffect {
0% {
    box-shadow: 0 0 5px rgba(0, 255, 34, 0.7), 0 0 15px rgba(0, 255, 55, 0.5);
}
100% {
    box-shadow: 0 0 15px rgb(19, 252, 2), 0 0 30px rgba(4, 226, 30, 0.8);
}
}

/*   Matrix effect styles   */
.blog_matrix_effect_main_container{
    position: relative;
    height: 100%;
    margin-right: 6vw;

}