.blog_main_container{
    display: flex;
    max-width: 100vw;
    height: 40vw;
    background-color: var(--black-color);
    color: var(--primary-color);
    font-family:'Courier New', Courier, monospace;
    text-transform: lowercase;
    text-align: justify;
    border: 3px solid rgb(0, 179, 255);

}

/*   navigation styles   */
.blog_navigation{

    position: fixed;
    left: 6vw;
    top: 20vh;
    width: 20%;
    height: 60vh;
    border: 20px solid rgb(26, 26, 26);
    background-color: var(--black-color);

   
}
.blog_navigation_ui{
    list-style: none;
    padding: 0;
}
.blog_navigation_li{
 margin-bottom: 10px;
}

/*   content styles   */
.blog_content_main_container{
    position: fixed;
    right: 6vw;
    top: 20vh;
    left: calc(20% + 10vw);
    height: 60vh;
    border: 20px solid rgb(26, 26, 26);
    overflow-y: scroll;
    background-color: var(--black-color);

}
.blog_image_container{
  
    float: left; 
    margin-right: 50px;
    margin-bottom: 10px;
    text-align: center; 
}
.blog_image_medium {
    width: 600px;
}
.blog_link{
   color: var(--tertiary-color);
}

/*   glow line effect styles   */
.glowBorder {
position: absolute;
top: 0;
right: 0;
width: 8px; 
height: 100%;
border-radius: 5vw;


background: linear-gradient(
    180deg,
    #00ff1e,
    rgba(4, 105, 46, 0.716),
    rgb(0, 255, 98)
);
box-shadow: 0 0 10px rgba(7, 208, 215, 0.7), 0 0 20px rgba(48, 193, 77, 0.825);
animation: glowEffect 2s infinite alternate;
} 
@keyframes glowEffect {
0% {
    box-shadow: 0 0 5px rgba(0, 255, 34, 0.7), 0 0 15px rgba(0, 255, 55, 0.5);
}
100% {
    box-shadow: 0 0 15px rgb(19, 252, 2), 0 0 30px rgba(4, 226, 30, 0.8);
}
}

/*   Matrix effect styles   */
.blog_matrix_effect_main_container{
    position: relative;
    height: 100%;
    margin-right: 6vw;

}