.referral_log_main_container {
    background-color: transparent;
    margin-left: 6vw;
    margin-right: 6vw;
    padding: 6vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 1.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: 0.3vw solid var(--tertiary-color);
    overflow-x: auto; /* Enable horizontal scroll for responsiveness */
    height: 85vw;
}

.referral_table {
    width: 100%;
    border-collapse: separate;
    margin: 20px 0;
    border-spacing: 1rem 2rem;
    min-width: 600px; /* Ensure table has a minimum width for scrolling on smaller screens */
}

th, td {
    padding: 12px;
    text-align: center;
    white-space: nowrap; /* Prevent wrapping of text to ensure it scrolls */
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    border-radius: 30vw;
    border-bottom: 1px solid #ddd;
    color: var(--secondary-color);
}

td {
    border: 3px solid var(--tertiary-color);
    border-radius: 30vw;
    padding: 12px;
    text-align: center;
    color: var(--tertiary-color);
    font-weight: 600;
}

tr {
    margin-bottom: 3rem;
}

/* Scrollbar styling for a cleaner look */
.referral_log_main_container::-webkit-scrollbar {
    height: 8px;
}

.referral_log_main_container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.referral_log_main_container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); 
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

@media (max-width: 500px) {

    .referral_log_main_container {
        margin-left: 3vw;
        margin-right: 3vw;
        border: 1vw solid var(--tertiary-color);
        margin-top: 5vw;



    }
    .referral_table {
        margin: 0px 0;

    }
}
@media (min-width: 500px) {
    .referral_log_main_container {
       height: 30vw;



    }

}