.leaderboard_main_container {
    background-color: transparent;
    margin-top: 2vw;
    overflow-x: auto; 
    margin-bottom: 2vw;

}
.sub_table{
    width: 100%;
    border-spacing: 0rem 0rem;
    background-color: #1d1d1d35; 
    color: var(--primary-color);
    border-color: var(--primary-color);

}
.leaderboard_table_td{
    cursor: pointer;

}
.expandedRow td {
    background-color: #00000049; 

    color: var(--primary-color);
    border-color: var(--primary-color);
   
  }
.leaderboard_subtable{
    background-color: #1d1d1d35; 
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.leaderboard_table {
    width: 100%;
    border-collapse: separate;
    margin: 20px 0;
    border-spacing: 0rem 0rem;
    min-width: 600px; 
}
.leaderboard_table_th, .leaderboard_table_td{
    border-radius: 0 ;
    border: 1px solid var(--tertiary-color);

}
.leaderboard_table_th{
    border-radius: 0 ;
    border: 1px solid rgb(227, 227, 227);
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 12px;

}
.leaderboard_inner_td {
    border: 0;
    padding: 0;
    background-color: var(--secondary-color) ;
    color:var(--tertiary-color) ;


}
.leaderboard_table_td{
    background-color: var(--secondary-color) ;
    color:var(--tertiary-color) ;
    padding: 12px;
    font-weight: 600;
    text-align: center;
}
.leaderboard_main_container::-webkit-scrollbar {
    height: 8px;
}
.leaderboard_main_container::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.leaderboard_main_container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); 
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}
.leaderboard_footer_container{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.leaderboard_loadMoreButton_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leaderboard_loadMoreButton{
    padding: 1vw;
    border-radius: 30vw;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 1vw;
    cursor: pointer;
    font-weight: 600;
    min-width: 12vw;
    border: 2px solid var(--tertiary-color);
    margin-bottom: 10vw;
    
}
.leaderboard_loadMoreButton:hover{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

}



@media (max-width: 500px) {
    .leaderboard_main_container {
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
    .leaderboard_title{
        font-size: 10vw;
    }
    .leaderboard_table {
        margin: 0px 0;
    }
 
    .leaderboard_footer_container{
        position: relative;
    
    }
    .leaderboard_loadMoreButton{
        width: 50%;
        font-size: var(--font-size-medium-mobile);
        margin-right: 0;
        padding: var(--padding-small-mobile);
        margin-bottom: var( --margin-big-desktop);
        margin-bottom: 20vw;

        
    }
}

@media (min-width: 500px) {
    .leaderboard_main_container {
        margin-left: 6vw;
        margin-right: 6vw;
 
    }
   
    .leaderboard_table {
        margin: 0px 0;

    }
 
}
