.LanguageSwitcher_Container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: fit-content;
    height: fit-content;

}

.LanguageSwitcher {
    width: fit-content;
    height: fit-content;
    font-size: 0.8vw;
    padding: 0.4vw;
    padding-right: 0vw;

    border-radius: 30vw;
    margin-left: 2vw;
    cursor: pointer; 
    border:  0.2vw solid var(--tertiary-color);
    font-weight: bold;
    color: var(--secondary-color);

}

.LanguageSwitcher_option{
    padding-left: 0.4vw !important;
}


.LanguageSwitcher:focus {
    outline: none; /* Remove default outline */
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border:  0.2vw solid var(--tertiary-color);
}

/* Media query for smaller screens */
@media (max-width: 500px) {
    .LanguageSwitcher_Container {
        display: none;
    } 
}
