
/* Desktop */

@media ( width >= 201px ){

    .header_container{
        max-width: 100vw;
        height: 7.5vh;
        background-color:var(--secondary-color) ;

        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-end;

        padding-left: 6vw;
        padding-right: 6vw;
    }
    .header_button{
        width: fit-content;
        height: fit-content;
        font-size: 0.8vw;
        padding: 0.8vw;
        padding-top: 0.4vw;
        padding-bottom: 0.4vw;
        border-radius: 30vw;
        margin-left: 2vw;

    }
    .header_button_one{
        background-color: var(--primary-color);
        color: var(--secondary-color);
        font-weight: bold;
    }
    .header_button_two, .header_button_three, .header_button_four, .header_button_five, .header_button_six, .header_button_seven, .header_button_eight{
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        font-weight: 600;
    }
     .header_button_seven{
        background-color: transparent;
        border: 2px solid var(--tertiary-color);
        color: var(--tertiary-color);
        font-weight: 600;
    }
 }

