
/* Desktop */


    .header_container{
        max-width: 100vw;
        height: 10vh;
        background-color:var(--secondary-color) ;

        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-end;

        padding-left: 6vw;
        padding-right: 6vw;
    }
    .header_container_mobile{
        display: none;
    }
    .header_button{
        width: fit-content;
        height: fit-content;
        font-size: 0.8vw;
        padding: 0.8vw;
        padding-top: 0.4vw;
        padding-bottom: 0.4vw;
        border-radius: 30vw;
        margin-left: 2vw;

    }
    .header_button_one{
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border:  0.2vw solid var(--primary-color);

        font-weight: bold;
        cursor: pointer;
    }
    .header_button_one:hover{
        color:var(--primary-color);
        background-color: var(--secondary-color);
    }
    .header_button_two, .header_button_three, .header_button_four, .header_button_five, .header_button_six, .header_button_seven, .header_button_eight{
        background-color: transparent;
        border:  0.2vw solid var(--primary-color);
        color: var(--primary-color);
        font-weight: 600;
        cursor: pointer;
    }
    .header_button_four:hover{
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
    .header_button_five:hover{
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
    .header_button_eight:hover{
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
   
 
   
    .mobile_pepe_hamburger{
        display: none;
    }
    .header_sidenav{
        display: none;
    }


 @media ( width <=500px ){
    .header_container{
        height: 10vh;
        justify-content: space-between;
        padding-left: 3vw;
        padding-right: 3vw;

    }
    .header_button{
        display: none;
    }
    .header_container_mobile{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header_container_headshot_title{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .mobile_pepe_headshot{
        width: 13vw;
        height: 13vw;
        border: 0.6vw solid var(--primary-color);
        border-radius: 100%;
        margin-right: 3vw;
    }
    .mobile_pepe_title{
        font-size: 8vw;
        line-height:6vw;
 
        font-family: "Inter", sans-serif;
        font-weight: 900;
        color: var(--primary-color);

    }
    .mobile_pepe_hamburger{
        display: block;
    }
    .header_sidenav{
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
        display: flex;
        flex-direction: column;
        padding-top: 6vw;
        z-index: 9999;
        overflow: hidden;
        transform: translateX(100%); 
    }
    .header_closeBtn{
        position: absolute;
        right: 2.4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 12vw;
        width: 12vw;
        border: 0.8vw solid var(--tertiary-color);
        border-radius: 2vw;
        background-color: transparent;
        color: var(--tertiary-color);
        font-weight: 800;

    }
    .header_linksPages{
        display: flex;
        flex-direction: column;
        margin-top: 5vw;
        padding: 3vw;
    }
    .header_descriptionContent {
        margin-bottom: 2vw;
      }
    .header_descriptionContent p {
    font-size: 4vw;
    font-weight: 500;
    color: var(--tertiary-color);
    }
    .hrClass{
        margin-top: 0.8rem;
        border-top: 0.5vw solid var(--tertiary-color);
    }
    .header_sideNavLink{

        margin-bottom: 0.8vw;
        text-decoration: none;
        color: var(--tertiary-color);
        font-size: 8vw;
 
    }
    .header_sideNavLink_small{

        margin-bottom: 0.8vw;
        text-decoration: none;
        color: var(--tertiary-color);
        font-size: 6vw;
  
    }
    .header_sideNavLink_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
 
 }

 @media ( width <=390px ){

    .header_linksPages{
 
        margin-top: 2vw;
     
    }


 }