.SocialTaskTelegram_main_container {
    background-color: var(--tertiary-color);
    margin-left: 6vw;
    margin-right: 6vw;
    padding: 1vw;
    border-radius: 1.5vw;
    border: 0.3vw solid var(--tertiary-color);
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
}

.SocialTaskTelegram_visible_drop{
    width: 100%;
    margin-left: 6vw;
    margin-right: 6vw;
}
.SocialTaskTelegram_visible{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2vw;
    color: var(--secondary-color);
    font-weight: 600;
}
.social_task_telegram_link{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 1vw;
}
.SocialTaskTelegram_input_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.SocialTaskTelegram_input{
    padding: 1vw;
    border-radius: 30vw;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: var(  --border-container-width) solid var(--secondary-color);
    margin-right: 1vw;
    text-align: center;
    font-size: 1vw;
    font-weight: 600;


}
.SocialTaskTelegram_title{
    width: 30%;

}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.SocialTaskTelegram_button{
    padding: 1vw;
    border-radius: 30vw;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);

    font-size: 1vw;

    cursor: pointer;
    font-weight: 600;
    min-width: 12vw;
}
.checkmarkIcon{
    width: 2vw;
    margin-left: 1rem;
}

.SocialTaskTelegram_dropdown{
    color: var(--secondary-color);
}
.SocialTaskTelegram_p{
    font-size: 1vw;
}
.SocialTaskTelegram_ul {
    list-style-type: none;
    font-size: 1vw;
}
.SocialTaskTelegram_li{
    padding-bottom: 0.5vw;
    font-size: 1vw;
}
.SocialTaskTelegram_link:visited {
    color: inherit; 
}
.SocialTaskTelegram_read_instructions{
  
    display: none;
}

@media ( width <=500px ){
    .SocialTaskTelegram_main_container {

        margin-left: 3vw;
        margin-right: 3vw;
        padding: var(--padding-small-mobile);

    }
    .SocialTaskTelegram_visible{
        flex-direction: column;
        font-size: var(--font-size-medium-mobile);
    }
    .SocialTaskTelegram_visible_drop{
        margin: 0;
    }
    .SocialTaskTelegram_input_button{
        flex-direction: column;
        width: 100%;

    }
    .SocialTaskTelegram_title{
        text-align: center;
        width: 100%;
    }
    .social_task_telegram_link{

        font-size: var(--font-size-medium-mobile);
    }
    .SocialTaskTelegram_input{
        width: 86.5%;
        margin: 0;
        font-size: var(--font-size-medium-mobile);
        padding: var( --padding-button-input-mobile);
        margin-top: var(--padding-small-mobile);
        margin-bottom: var(--padding-small-mobile);
    }
    .SocialTaskTelegram_button{
        width: 100%;
        font-size: var(--font-size-medium-mobile);
        margin-right: 0;
        padding: var(--padding-button-input-mobile);

    }
    .checkmarkIcon{
        width: 10vw;
        margin-top: 5vw;
        margin-bottom: 4vw;
    }
    .SocialTaskTelegram_dropdown{
       padding-top: var(--padding-small-mobile);
    }
    .SocialTaskTelegram_p{
        font-size: 3.8vw;

    }
    .SocialTaskTelegram_ul {
        font-size: 3.8vw;
        padding-left: 0; 
        margin-left: 0; 
    }
    .SocialTaskTelegram_li{
        font-size: 3.8vw;
        padding-left: 0; 
        margin-left: 0; 
        margin-bottom: 2vw;
    }
    .SocialTaskTelegram_verified{
        text-align: center;
    }
    .SocialTaskTelegram_read_instructions{
        display: block;
        font-size: var(--font-size-big-mobile);
        text-align: end;
    }

}