
/* Desktop */


.tokenomics_main_container{
    max-width: 100vw;
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 6vw;
    padding-left: 12vw;
    padding-right: 12vw;

}
.tokenomics_main_info_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2vw;
    height: 12vw;

}
.tokenomics_title{
    color: var(--secondary-color);
    font-size: 2.4vw;
    font-weight: 800;
    padding: 0vw;
    width: 100%;
    margin-bottom: 1vw;
}
.tokenomics_info_box_main_container{
    border: 0.3vw solid var(--secondary-color);
    width: 65%;
    height: 100%;
    border-radius: 1.5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.tokenomics_info_box_container{
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.6vw;
}
.tokenomics_info_box{
    width: 49%;
    height: 100%;
}
.tokenomics_info_title{
    color: var(--secondary-color);
    font-size: 1.2vw;
    font-weight: 600;
}
.tokenomics_info_description{
    color: var(--secondary-color);
    font-size: 1.8vw;
    font-weight: 700;
}
.tokenomics_solana_logo{
    width: 10vw;
    padding-top: 0.4vw;
}
.tokenomics_pepe_image{
    width: 35%;
    position: absolute;
    bottom: 1.1vw;
    right: 2vw;
}
.tokenomics_pepe_image_mobile{
    display: none;
}
.tokenomics_countdown_main_container{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    position: relative;
}
.tokenomics_main_countdown_container{
    width: 100%;
    border-top:0.4vw solid var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    text-align: center;
}
.tokenomics_tge_title {  
    color: var(--secondary-color);
    font-size: 2.4vw;
    font-weight: 800;
    padding: 0vw;
}
.tokenomics_tge_title_mobile{
    display: none;
}
.tokenomics_container_countdown{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0vw;
    height: 8rem !important;
}
.tokenomics_date_box{
    min-height: 6rem;
    min-width: calc(100% / 8);
    text-align: center;
    color: var(--secondary-color);
    font-size: 2vw;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    padding: 0.9vw;
}
.tokenomics_date_box_number{
    font-size: 2.8vw;
    font-weight: 600;
}


 @media ( width <= 500px ){
    
        .tokenomics_main_container{
            max-width: 100vw;
            padding: 3vw;
            padding-top: 10vw;
            padding-bottom: 10vw;
        }
        .tokenomics_main_info_box{
            height: 100%;
            width: 100%;
        }
        .tokenomics_info_box_main_container{
            width: 98%;
            border:1vw solid var(--secondary-color);
        }
        .tokenomics_info_box_container{
            flex-direction: column ;
            width: 100%;
            align-items: flex-start;
            padding-bottom: 0vw;
            padding-top: 0vw;
        }
        .tokenomics_title{
            font-size: 11vw;
            text-align: center;
            padding-bottom: 2vw;
        }
        .tokenomics_solana_logo{
            width: 25vw;
            padding-top: 1vw;
        }
        .tokenomics_info_box{
            padding: 3.2vw;
            width: fit-content;
        }
        .tokenomics_info_title{
            font-size: 4.2vw;
            line-height: 4vw;
        }
        .tokenomics_info_description{
            font-size: 4.2vw;
            line-height: 4vw;
            padding-top: 1vw;
        }
        .tokenomics_pepe_image{
          display: none;
        }
        .tokenomics_pepe_image_mobile{
            display: block;
            position: absolute;
            bottom: 3.5vw;
            width: 55%;
            right: -4vw;
        }
        .tokenomics_tge_title{
            display: none;
        }
        .tokenomics_tge_title_mobile{
            display: block;
            font-size: 6.8vw;
            line-height: 6vw;
            padding-bottom: 2vw;
            margin-top: 6vw;
            color: var(--secondary-color);
            font-weight: 800;
        }
        .tokenomics_date_box{
            font-size: 4vw;
            font-weight: 600;
            padding: 3vw;

       
        }
        .tokenomics_date_box_number{
            font-size: 8.2vw;
            font-weight: 800;
        }
        .tokenomics_main_countdown_container{
            width: 98%;
            border-top:1vw solid var(--secondary-color);
            height:1rem !important;

        }
        .tokenomics_container_countdown{
            width: 100%;
            
        }
    
}


