.walletButton_container{
    display: flex;
    flex-direction: row;
    justify-content: end;

    padding-left:6vw ;
    padding-right: 6vw;
}

@media ( width <= 500px ){
    .walletButton_container{
        justify-content: center;
        margin-bottom: 4vw;
        margin-top: 8vw;
    }
    .wallet_confirm_container{
        display: flex;
        flex-direction: column-reverse;
    }
    
}